<%= form_with(model: album, local: true) do |form| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
        <% album.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="columns is-mobile is-multiline">
    <div class="field column is-12">
      <%= form.label :rank, class: 'label' %>
      <div class="control">
        <div class="select">
          <%= form.select :rank, (1..10).to_a, class: 'select' %>
        </div>
      </div>
    </div>

    <div class="field column is-12">
      <%= form.label :url, class: 'label' %>
      <div class="control">
        <%= form.text_field :url, class: 'input', placeholder: '例：spotify, bandcampのURLを入力してください' %>
      </div>
    </div>

    <div class="field column is-12">
      <%= form.label :title, class: 'label' %>
      <div class="control">
        <%= form.text_field :title, class: 'input', placeholder: '例: When I Get Home' %>
      </div>
    </div>

    <div class="field column is-12">
      <%= form.label :artist_name, class: 'label' %>
      <div class="control">
        <%= form.text_field :artist_name, class: 'input', placeholder: '例: Solange' %>
      </div>
    </div>

    <div class="field column is-12">
      <%= form.label :description, class: 'label' %>
      <div class="control">
        <%= form.text_field :description, class: 'input', placeholder: '例: Youtubeのリンクとか紹介したい曲があれば...' %>
      </div>
    </div>


    <div class="field column is-12">
      <%= form.label :posted_by, class: 'label' %>
      <div class="control">
        <%= form.text_field :posted_by, class: 'input', placeholder: '例: 年間・ベス男' %>
      </div>
    </div>  

    <div class="control column ">
      <%= form.submit 'SUBMIT', class: 'button is-primary' %>
    </div>
  </div>
<% end %>
