<section class="section">
  <div class="container is-mobile">
    <h1 class="title">Albums</h1>
    <p id="notice"><%= notice %></p>
    <table class="table is-striped is-fullwidth">
      <thead>
        <tr>
          <th>順位</th>
          <th>URL</th>
          <th>タイトル</th>
        </tr>
      </thead>

      <tbody>
        <% @albums.each do |album| %>
          <tr>
            <td><%= album.rank %></td>
            <td><%= album.url %></td>
            <td><%= album.title %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

<%= link_to 'New Album', new_album_path %>
